@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
* {
	box-sizing: border-box;
	font-size: 16px;
}

html,
body {
	height: 100%;
	text-align: center;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	background: #32373c;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	line-height: 1;
	color: #ffd85d;
	margin-bottom: 0;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #fff;
}


.uploader {
	position: relative;
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.uploader label {
	position: relative;
	display: block;
	width: 100%;
	padding: 2rem 1.5rem;
	text-align: center;
	background: #fff;
	border-radius: 7px;
	border: 3px solid #eee;
	/* transition: all .2s ease; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-color: #ffd85d;
}

.uploader label:not(:first-of-type) {
	display: none;
	position: relative;
	left: 100%;
}

.uploader label.hover {
	border: 3px solid #ffd85d;
	box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start #file-drag-icon {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.3;
}

.uploader #start {
	clear: both;
	width: 100%;
}

.hidden {
	display: none !important;
}

#file-drag-icon {
	font-size: 50px;
	margin-bottom: 1rem;
	transition: all .2s ease-in-out;
}

.uploader #response {
	width: 100%;
}

.uploader #response #messages {
	margin-bottom: .5rem;
}

.uploader #file-wrapper {
	position: relative;
	display: inline-block;
}

.uploader #file-remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	cursor: pointer;
	transition: ease 0.3s;
}

.uploader #file-remove:hover{
	transform: scale(1.1);
}

.uploader #file-image {
	display: inline;
	margin: 0 auto .5rem auto;
	width: auto;
	height: auto;
	max-width: 100px;
}

#error-content {
    width: 300px;
	color: #fb0022;
	line-height: 1.5;
	border-radius: 5px;
	background-color: #fdf3f2;
}

.error-header,
.error-body{
    padding: 20px;
}

.error-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f9dfdc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.error-header i{
    color: #000;
    cursor: pointer;
}

.error-header h3{
    margin: 0px;
    font-size: 18px;
    line-height: 0.75;
}

#error-message-text{
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
}

.uploader progress,
.uploader .progress {
	display: inline;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 180px;
	height: 8px;
	border: 0;
	border-radius: 4px;
	background-color: #eee;
	overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.uploader input[type="file"] {
	display: none;
}

.uploader div {
	margin: 0 0 .5rem 0;
	color: #5f6982;
}

.btn {
	position: relative;
	display: inline-block;
	min-width: 150px;
	margin-top: 1rem;
	clear: both;
	font-family: inherit;
	font-size: 14px;
	text-decoration: none;
	text-transform: initial;
	border: none;
	border-radius: .2rem;
	outline: none;
	padding: 0 1rem;
	height: 36px;
	line-height: 36px;
	color: #000;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	background: #ffd85d;
	border-color: #ffd85d;
	cursor: pointer;
	transition: ease 0.3s;
}

.btn.disabled{
	pointer-events: none;
	background-color: #ccc;
	color: #444;
}

.btn:hover{
	background-color: #fd0019;
	border-color: #fd0019;
	color: #fff;
}

#segment-send-btn{
	margin-top: 25px;
}

.uploader input[type='text']{
	width: 100%;
	max-width: 400px;
	margin: 15px auto;
	padding: 5px 8px;
	border: 1px solid #999;
	font-size: 14px;
	clear: both;
}

.uploader input[type='text']:focus{
	outline-color: #ffd569;
}

.uploader input[type='text']::placeholder{
	color: #999;
}

#segment-name-invalid{
	position: relative;
	top: -10px;
	display: block;
	font-size: 12px;
	color: #fd0019;
}

#segment-please-wait{
	color: #5f6982;
	font-size: 16px;
}

#segment-please-wait{
	margin-right: 5px;
}


.popup {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background: rgba(53,58,62,0.9);
	z-index: 99;
}

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

@media screen and (max-width: 600px){
	.mob-hide{
		display: none;
	}
}