@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
* {
	box-sizing: border-box;
	font-size: 16px;
}

html,
body {
	height: 100%;
	text-align: center;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	background: #32373c;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	line-height: 1;
	color: #ffd85d;
	margin-bottom: 0;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #fff;
}


.uploader {
	position: relative;
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.uploader label {
	position: relative;
	display: block;
	width: 100%;
	padding: 2rem 1.5rem;
	text-align: center;
	background: #fff;
	border-radius: 7px;
	border: 3px solid #eee;
	/* transition: all .2s ease; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-color: #ffd85d;
}

.uploader label:not(:first-of-type) {
	display: none;
	position: relative;
	left: 100%;
}

.uploader label.hover {
	border: 3px solid #ffd85d;
	box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start #file-drag-icon {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.3;
}

.uploader #start {
	clear: both;
	width: 100%;
}

.hidden {
	display: none !important;
}

#file-drag-icon {
	font-size: 50px;
	margin-bottom: 1rem;
	transition: all .2s ease-in-out;
}

.uploader #response {
	width: 100%;
}

.uploader #response #messages {
	margin-bottom: .5rem;
}

.uploader #file-wrapper {
	position: relative;
	display: inline-block;
}

.uploader #file-remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	cursor: pointer;
	transition: ease 0.3s;
}

.uploader #file-remove:hover{
	transform: scale(1.1);
}

.uploader #file-image {
	display: inline;
	margin: 0 auto .5rem auto;
	width: auto;
	height: auto;
	max-width: 100px;
}

.uploader #error-message {
	display: block;
	width: 100%;
	color: #fb0022;
	max-width: 400px;
	margin: 20px auto 0;
	line-height: 1.5;
	border-radius: 5px;
	padding: 20px;
	background-color: #fdf3f2;
}

.uploader #error-message .fa{
	font-size: 50px;
}

.uploader progress,
.uploader .progress {
	display: inline;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 180px;
	height: 8px;
	border: 0;
	border-radius: 4px;
	background-color: #eee;
	overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
	background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	border-radius: 4px;
}

.uploader input[type="file"] {
	display: none;
}

.uploader div {
	margin: 0 0 .5rem 0;
	color: #5f6982;
}

.uploader .btn {
	position: relative;
	display: inline-block;
	min-width: 150px;
	margin-top: 1rem;
	clear: both;
	font-family: inherit;
	font-size: 14px;
	text-decoration: none;
	text-transform: initial;
	border: none;
	border-radius: .2rem;
	outline: none;
	padding: 0 1rem;
	height: 36px;
	line-height: 36px;
	color: #000;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	background: #ffd85d;
	border-color: #ffd85d;
	cursor: pointer;
	transition: ease 0.3s;
}

.uploader .btn.disabled{
	pointer-events: none;
	background-color: #ccc;
	color: #444;
}

.uploader .btn:hover{
	background-color: #fd0019;
	border-color: #fd0019;
	color: #fff;
}

#segment-send-btn{
	margin-top: 25px;
}

.uploader input[type='text']{
	width: 100%;
	max-width: 400px;
	margin: 15px auto;
	padding: 5px 8px;
	border: 1px solid #999;
	font-size: 14px;
	clear: both;
}

.uploader input[type='text']:focus{
	outline-color: #ffd569;
}

.uploader input[type='text']::placeholder{
	color: #999;
}

#segment-name-invalid{
	position: relative;
	top: -10px;
	display: block;
	font-size: 12px;
	color: #fd0019;
}

#segment-please-wait{
	color: #5f6982;
	font-size: 16px;
}

#segment-please-wait{
	margin-right: 5px;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

@media screen and (max-width: 600px){
	.mob-hide{
		display: none;
	}
}